*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: lato, sans-serif;
    font-size: var(--body-font-size);
    min-height: 100vh;
    position: relative;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1 {
    font-size: var(--size-h1);
}
h2 {
    font-size: var(--small-font-size);
}
main {
    position: relative;
    margin-bottom: 2rem;
}